:root {
    --black-color: rgb(203, 199, 203);

    --bg-color: #f6f0f0;
    --bg-color-2: #d8d4d4;
    --bg-color-3: #222;

    --main-color: #474aaa;
    --main-color-2: #ED1D24;

    --text-color: #07080d;
    --text-muted: #253438;

    --track-color: #202324;
    --thumb-color: #454a4d;
    --thumb-hover-color: #596268;

    --fb-color: #3b5998;
    --google-color: #a61c00;
    --twitter-color: #1da1f2;

    --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}